<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>员工列表</title>

    <link rel="icon" th:href="@{/photos/bg1.jpg}" type="image/x-icon"/>

    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>



</head>
<body>

<!--得到部门的Id-->
<div>
    <input type="hidden" id="admin_department" th:value="${dId}">
</div>

<!-- 员工添加的模态框 Modal -->
<div class="modal fade" id="empAndModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">员工信息添加</h4>
            </div>
            <div class="modal-body">
                <form id="add_form" class="form-horizontal">
                    <div class="form-group">
                        <label for="empId_add_input" class="col-sm-2 control-label">id</label>
                        <div class="col-sm-10">
                            <input type="text" name="empId" class="form-control" id="empId_add_input"
                                   placeholder="请输入数字id(只能是数字，否则提交无效)">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empName_and_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="empName" class="form-control" id="empName_and_input"
                                   placeholder="empName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email_and_input" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="email_and_input"
                                   placeholder="email@qq.com">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender1_add_input" checked="checked" value="M"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender2_add_input" value="F"> 女
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门名</label>
                        <div class="col-sm-4">

                            <select class="form-control" id="dept_add_select" name="dId">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="submit_add_btn" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 员工修改的模态框 Modal -->
<div class="modal fade" id="empUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">员工信息修改</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="empName_and_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" name="empName" id="empName-update_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email_and_input" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="email_update_input"
                                   placeholder="email@qq.com">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender1_update_input" checked="checked" value="M">
                                男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="gender2_update_input" value="F"> 女
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门名</label>
                        <div class="col-sm-4">

                            <select class="form-control" id="dept_update_select" name="dId">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="submit_update_btn" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 员工信息查询修改的模态框 Modal -->
<div class="modal fade" id="searchEmpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">员工信息</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="empName_and_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="search-name-update" name="empName" />
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email_and_input" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="search-email-update" name="email"/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="search-gender1-update" checked="checked" value="M">
                                男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="search-gender2-update" value="F"> 女
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门名</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="search-departmentName-update" name="dId">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="search_update_btn" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>

<!--模糊查询模态框-->
<div class="modal fade" id="likeSearchEmpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">查询结果</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>员工ID</th>
                                <th>员工姓名</th>
                            </tr>
                            </thead>
                            <tbody id="addInfo">
                            <tr>
                                <td>aaaa</td>
                                <td>15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>欢迎使用</h1>
            <span id="span_deptName"></span>
        </div>
    </div>


    <div class="row">


        <div class="col-md-12 ">
            <div class="col-sm-2">
                <input type="text" class="form-control" id="search-id" placeholder="请输入员工号">
            </div>

            <button type="button" class="btn btn-info" id="search-info">查询</button>
        </div>

        <!--模糊查询-->
        <div class="col-md-12">
            <div class="col-sm-2">
            <input type="text" class="form-control" id="empName_like" placeholder="请输入员工姓名">
            </div>
            <button type="button" class="btn btn-info" id="empName_like-info">查询</button>
        </div>

        <div class="col-md-4 col-md-offset-8">
            <button type="button" id="emp_and_modal_btn" class="btn btn-primary">新增</button>
            <button type="button" class="btn btn-danger" id="emps_delte_btn">删除</button>
        </div>


    </div>


    <div class="row"></div>
    <div class="col-md-12">
        <table class="table table-hover" id="emps_table">
            <thead>
            <tr>
                <th><input type="checkbox" id="check-all"></th>
                <th>员工ID</th>
                <th>姓名</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>部门</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>
    </div>


    <div class="row">
        <div class="col-md-6" id="page_info_area"></div>
        <div class="col-md-6" id="page_nav_area"></div>
    </div>


    <!--<div class="row col-lg-offset-7">
        <div>
            <input type="text" id="pageNum" placeholder="例如:1">
            <button id="to-number">跳转</button>
        </div>
    </div>-->

    <a id="test-1"></a>

</div>

<script type="text/javascript">
    /*最大页数*/
    var toMaxPage;
    /*当前页数*/
    var currentPage;
    /*每页显示员工信息的数量*/
    var pageSize;
    $(function () {

        /* 解决bug*/
        /*window.location.href="?#";*/
        page_to(1);

        /*让页面加载的时候就请求，防止出现信息未加载完，后面的步骤就执行，导致方法失效*/
        /*查出部门信息*/
        getDept("#search-departmentName-update");
        getDept("#dept_update_select");
    });


    /*跳转页数的方法*/
    function page_to(pn) {

        $.ajax({
            url: "/emps/" + pn + "/" + $("#admin_department").val(),
            type: "get",
            success: function (result) {
                pageSize = result.map.pageInfo.pageSize;
                build_emps_table(result);
                build_page_info(result);
                //build_page_nav(result)

            }
        });
    }


    /*员工信息*/
    function build_emps_table(result) {
        $("#emps_table tbody").empty();
        var emps = result.map.pageInfo.list;
        $.each(emps, function (index, item) {
            var empIdTd = $("<td></td>").append(item.empId);
            var empName = $("<td></td>").append(item.empName);
            var gender = item.gender == 'M' ? "男" : "女";
            var genderId = $("<td></td>").append(gender);
            var email = $("<td></td>").append(item.email);
            var deptName = $("<td></td>").append(item.department.deptName);

            var editButton = $("<button></button>").addClass("btn btn-default btn btn-primary btn-sm btn-update")
                .append($("<span></span>").addClass("glyphicon glyphicon-align-left").append("编辑"));
            editButton.attr("emp_id_btn", item.empId);

            var deleteButtion = $("<button></button>").addClass("btn btn-default btn-danger btn-sm btn-delete").append($("<span></span>")
                .addClass("glyphicon glyphicon-remove").append("删除"));
            deleteButtion.attr("emp_delete_id_btn", item.empId);

            /*为编辑与删除按钮之间添加空隙*/
            var twoButton = $("<td></td>").append(editButton).append(" ").append(deleteButtion)

            /*为每个选项之前添加一个选择框*/
            var checkBox = $("<td></td>").append($("<input type='checkbox' class='check-for-one'></input>"));

            $("<tr></tr>").append(checkBox).append(empIdTd)
                .append(empName).append(genderId)
                .append(email).append(deptName)
                .append(twoButton)
                .appendTo("#emps_table tbody");
        });
    }

    /*分页信息*/
    function build_page_info(result) {
        $("#page_info_area").empty();
        $("#page_info_area").append("当前第" + result.map.pageInfo.pageNum + "页"
            + "，共" + result.map.pageInfo.pages + "页," + "总" + result.map.pageInfo.total + "条记录");
        toMaxPage = result.map.pageInfo.total;
        currentPage = result.map.pageInfo.pageNum;
    }

    /*分页导航*/
    function build_page_nav(result) {
        $("#page_nav_area").empty();
        var firstLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("首页"));
        var prePageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append($("<span></span>").append("&laquo;")));
        var lastLi = $("<li></li>").append($("<a></a>").attr("href", "#").append("末页"));
        var nextPageLi = $("<li></li>").append($("<a></a>").attr("href", "#").append($("<span></span>").append("&raquo;")));

        if (result.map.pageInfo.hasPreviousPage == false) {
            firstLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstLi.click(function () {
                page_to(1);
            });
            prePageLi.click(function () {
                page_to(result.map.pageInfo.pageNum - 1);
            });
        }

        var ul = $("<ul></ul>").addClass("pagination").append(firstLi).append(prePageLi);

        $.each(result.map.pageInfo.navigatepageNums, function (index, item) {

            var everyLi = $("<li></li>").append($("<a></a>").attr("href", "#").append(item));
            if (result.map.pageInfo.pageNum == item) {
                everyLi.addClass("active");
            }
            everyLi.click(function () {
                page_to(item);
            });

            ul.append(everyLi);
        });


        if (result.map.pageInfo.hasNextPage == false) {
            lastLi.addClass("disabled");
            nextPageLi.addClass("disabled");
        } else {
            lastLi.click(function () {
                page_to(result.map.pageInfo.pages);
            });
            nextPageLi.click(function () {
                page_to(result.map.pageInfo.pageNum + 1);
            });
        }

        ul.append(lastLi).append(nextPageLi);
        var nav = $("<nav></nav>").append(ul);
        nav.appendTo("#page_nav_area");
    }


    /*表单完整的重置*/
    function reset_form(ele) {
        $(ele)[0].reset();

        /*表单样式*/
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    /*得到部门的方法*/
    function getDept(ele) {

        /*防止重复*/
        $(ele).empty();

        $.ajax({
            url: "/depts",
            type: "get",
            success: function (result) {
                $.each(result.map.depts, function () {
                    var dept = $("<option></option>").append(this.deptName).attr("value", this.deptId);
                    dept.appendTo(ele);
                });
            }
        });
    }

    /*新增按钮弹出框*/
    $("#emp_and_modal_btn").click(function () {
        reset_form("#empAndModal form");

        /*获取所有部门的下拉列表*/
        getDept("#dept_add_select");

        /*弹出模态框*/
        $("#empAndModal").modal({
            backdrop: "static",
        });
    });


    function valid_add_form() {

        /*正则表达式校验用户名*/
        var empName = $("#empName_and_input").val();
        var regName = /(^[a-zA-Z0-9_-]{3,16}$)|(^[\u2E80-\u9FFF]{2,5})/;
        if (!regName.test(empName)) {

            show_validate_msg("#empName_and_input", "error", "用户名可以是3-6位英文或2-5位中文");
            return false;
        } else {
            show_validate_msg("#empName_and_input", "success", "");
        }

        /*正则表达式校验邮箱*/
        var email = $("#email_and_input").val();
        var regEmail = /^([a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*\.[a-z]{2,}$)/;
        if (!regEmail.test((email))) {
            show_validate_msg("#email_and_input", "error", "邮箱格式不正确，请重新输入！");
            return false;
        } else {
            show_validate_msg("#email_and_input", "success", "");
        }

        return true;

    }


    /*显示检验结果方法*/
    function show_validate_msg(ele, status, msg) {
        $(ele).parent().removeClass("has-error has-success");
        $(ele).next("span").text("");
        if (status == "error") {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        } else if (status == "success") {
            $(ele).next("span").addClass("has-success");
            $(ele).next("span").text(msg);
        }

    }


    /*提交表单*/
    $("#submit_add_btn").click(function () {



        if ($("#empName_and_input").attr("var_empName") == "error") {
            return false;
        }


        if (!valid_add_form()) {
            return false;
        }


        $.ajax({
            url: "/emp",
            data: $("#add_form").serialize(),
            type: "post",
            success: function (result) {

                /*使用JSR校验*/
                if (result.status == 100) {
                    /*关闭模态框*/
                    $("#empAndModal").modal('hide');

                    /*跳转到最后一页*/
                    page_to(toMaxPage);
                } else {
                    if (result.map.va_msg_id != undefined) {
                        show_validate_msg("#empId_add_input", "error", result.map.va_msg_id);
                    }
                    if (result.map.va_msg != undefined) {
                        show_validate_msg("#empName_and_input", "error", result.map.va_msg);
                    }
                    if (result.map.errorFields.email != undefined) {
                        show_validate_msg("#email_and_input", "error", result.map.errorFields.email);
                    }
                    if (result.map.errorFields.empName != undefined) {
                        show_validate_msg("#empName_and_input", "error", result.map.errorFields.empName);
                    }

                }

            }
        });
    });

    $("#empId_add_input").change(function () {
        var empId = this.value;
        $.ajax({
            url: "/checkUser/" + empId,
            type: "post",
            success: function (result) {
                if (result.status == 100) {
                    show_validate_msg("#empId_add_input", "success", result.map.va_msg_id);
                    $("#empId_add_input").attr("var_empName", "success");
                } else if (result.status == 200) {
                    show_validate_msg("#empId_add_input", "error", result.map.va_msg_id);
                    $("#empId_add_input").attr("var_empName", "error");
                }
            }
        });
    });


    /*发起ajax请求在后端进行验证*/
    $("#empName_and_input").change(function () {

        $(ele).empty();

        var empName = this.value;
        $.ajax({
            url: "/checkUser",
            data: "empName=" + empName,
            type: "post",
            success: function (result) {
                if (result.status == 100) {
                    show_validate_msg("#empName_and_input", "success", result.map.va_msg);
                    $("#empName_and_input").attr("var_empName", "success");
                } else if (result.status == 200) {
                    show_validate_msg("#empName_and_input", "error", result.map.va_msg);
                    $("#empName_and_input").attr("var_empName", "error");
                }
            }
        })
    });


    /*为修改按钮绑定单击事件*/
    /*创建之前绑定*/
    $(document).on("click", ".btn-update", function () {




        $("#submit_update_btn").attr("edit_id", $(this).attr("emp_id_btn"));

        getEmp($(this).attr("emp_id_btn"));

        $("#empUpdateModal").modal({
            backdrop: "static",
        });
    });

    /*新增功能中:回显用户信息的方法*/
    function getEmp(id) {
        $.ajax({
            url: "/emp/" + id,
            type: "get",
            success: function (result) {
                $("#empName-update_input").val(result.map.employee.empName);
                $("#email_update_input").val(result.map.employee.email);
                $("#empUpdateModal input[name=gender]").val([result.map.employee.gender]);
                $("#empUpdateModal select").val([result.map.employee.dId]);
            }
        })
    }

    /*提交功能*/
    $("#submit_update_btn").click(function () {

        /*需要先判断邮箱格式*/
        var email = $("#email_update_input").val();
        var regEmail = /^([a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*\.[a-z]{2,}$)/;
        if (!regEmail.test((email))) {
            show_validate_msg("#email_update_input", "error", "邮箱格式不正确，请重新输入！");
            return false;
        } else {
            show_validate_msg("#email_update_input", "success", "");
        }
        $.ajax({
            url: "/emp/" + $(this).attr("edit_id"),
            data: $("#empUpdateModal form").serialize() + "&_method=put",
            type: "post",
            success: function () {
                /*关闭模态框*/
                $("#empUpdateModal").modal('hide');

                page_to(currentPage);
            }
        });
    });


    /*通过id删除*/
    $(document).on("click", ".btn-delete", function () {

        var id = $(this).attr("emp_delete_id_btn");

        if (confirm("是否要删除【" + $(this).parents("tr").find("td:eq(2)").text() + "】吗")) {
            $.ajax({
                url: "/emp/" + id,
                data: "_method=delete",
                type: "post",
                success: function () {
                    page_to(currentPage);
                }
            })
        }
        ;
    });

    /*全选单击事件*/
    $("#check-all").click(function () {
        if ($("#check-all").prop("checked") == true) {
            $(".check-for-one").prop("checked", true);
        } else {
            $(".check-for-one").prop("checked", false);
        }
    });

    /*逐个点击达到当前页面大小,全选选中,否则不选择*/
    $(document).on("click", ".check-for-one", function () {
        if ($(".check-for-one:checked").length == pageSize) {
            $("#check-all").prop("checked", true);
        } else {
            $("#check-all").prop("checked", false);
        }
    });

    /*批量删除*/
    $("#emps_delte_btn").click(function () {
        if ($(".check-for-one:checked").length == 0) {
            return;
        }

        var list_name = "";
        var list_id = "";
        $.each($(".check-for-one:checked"), function () {
            list_name += $(this).parents("tr").find("td:eq(2)").text() + ",";
            list_id += $(this).parents("tr").find("td:eq(1)").text() + "-";
        });

        /*去掉尾部多余的符号*/
        list_name = list_name.substring(0, list_name.length - 1);
        list_id = list_id.substring(0, list_id.length - 1);

        if (confirm("确实要删除【" + list_name + "】吗")) {
            $.ajax({
                url: "/emp/" + list_id,
                data: "_method=delete",
                type: "post",
                success: function () {
                    page_to(currentPage);
                }
            });
        }
    });

    /*输入跳转页*/
    $(document).on("click", "#to-number", function () {
        page_to($("#pageNum").val());

    });



    /*查询员工信息*/
    /*$("#search-info").click(function ()*/
    $(document).on("click", "#search-info", function () {
        $.ajax({
            url: "/emp/" + $("#search-id").val() + "/" + $("#admin_department").val(),
            type: "get",
            success: function (result) {
                if (result.map.employee == undefined) {
                    alert("该员工可能离职或尚未录入");
                    return false;
                }



                $("#search-name-update").val(result.map.employee.empName);
                $("#search-email-update").val(result.map.employee.email);
                $("#searchEmpModal input[name=gender]").val([result.map.employee.gender]);


                $("#search-departmentName-update").val([result.map.employee.dId]);

                $("#search_update_btn").attr("update_id",result.map.employee.empId);



                /*跳出模态框*/
                $("#searchEmpModal").modal({
                    backdrop: "static",
                });
            }
        });
        $("#search-id").val("");
    });

    //查询中的修改按钮
    $(document).on("click","#search_update_btn",function () {
        /*需要先判断邮箱格式*/
        var email = $("#search-email-update").val();
        var regEmail = /^([a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*\.[a-z]{2,}$)/;
        if (!regEmail.test((email))) {
            show_validate_msg("#search-email-update", "error", "邮箱格式不正确，请重新输入！");
            return false;
        } else {
            show_validate_msg("#search-email-update", "success", "");
        }
        $.ajax({
            url: "/emp/" + $(this).attr("update_id"),
            data: $("#searchEmpModal form").serialize() + "&_method=put",
            type: "post",
            success: function () {
                /*关闭模态框*/
                $("#searchEmpModal").modal('hide');

                page_to(currentPage);
            }
        });
    });


    //模糊查询
    $("#empName_like-info").click(function () {
        $("#addInfo").empty();
        $.ajax({
            url:"/selectLike/" + $("#empName_like").val() + "/" + $("#admin_department").val(),
            type:"get",
            success:function (result) {
                if (result.map.emps == '') {
                    alert("该员工可能离职或尚未录入");
                    return false;
                }
                $.each(result.map.emps,function (index,item) {

                    var add = $("<tr></tr>").append($("<td></td>").append(item.empId)).append($("<td></td>").append(item.empName));
                    add.appendTo("#addInfo");
                });

                $("#likeSearchEmpModal").modal({
                    backdrop: "static",
                });
                $("#empName_like").val("");

            }
        });
    });

</script>

</body>
</html>
